<form id="queryForm" action="/sightings" class="mt-5">
    <input id="queryFormLongitude" name="lon" class="d-none" value="<%= searchCriteria.lon || '' %>">
    <input id="queryFormLatitude" name="lat" class="d-none" value="<%= searchCriteria.lat || '' %>">
    <div class="row justify-content-center">
    <div class="col-sm-2">
        <input id="state" name="state" class="form-control me-2 typeahead tt-query" type="search" placeholder="State" autocomplete="off"
        spellcheck="false" value="<%= searchCriteria.state || '' %>">
    </div>
    <div class="col-4">
        <input name="text" class="form-control me-2" type="search" placeholder="Try 'river bear'" autocomplete="off"
        spellcheck="false" value="<%= searchCriteria.text || '' %>">
    </div>
    <div class="col-sm-2 text-center">
        <div id="queryFormSubmit" class="btn btn-outline-primary">Apply</div>
    </div>
    </div>

    <div class="row mt-2 mb-4 justify-content-center">
    <div class="col-sm-2">
        <input id="county" name="county" class="form-control me-2 typeahead tt-query" type="search" placeholder="County" autocomplete="off"
        spellcheck="false" value="<%= searchCriteria.county || '' %>">
    </div>
    <div class="col-4">
        <input name="radius" type="range" class="form-range" min="1000" max="5000" step="1000" id="slider-range"
        value="<%= searchCriteria.radius || 5000 %>">
    </div>
    <div class="col-sm-2 text-center">
        <b class="text-primary"><span id="slider-data"><%= searchCriteria.radius || '3000' %></span></b>&nbsp;
        <input id="queryFormUnits" name="units" class="d-none" value="<%= searchCriteria.units || 'km' %>">
        <span id="unitsValue" class="btn btn-outline-secondary btn-sm"><%= searchCriteria.units || 'km' %></span>
    </div>
    </div>
</form>