<!DOCTYPE html>
<html>

<head>
  <title>Bigfoot Sightings</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
  <div class="container mt-5">
    <%- include('./partials/navigation.ejs') %>
  </div>

  <div class="container mt-2">
    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="shows reported Bigfoot sightings on the map based on a query, with short hover information">
      <button class="btn btn-primary" type="button" disabled>
        <i class="fa-solid fa-map"></i>
      </button>
    </span>

    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="shows Bigfoot sightings based on a query, grouped by season">
      <button class="btn btn-primary" type="button" disabled>
        <i class="fa-solid fa-chart-pie"></i>
      </button>
    </span>

    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="shows Bigfoot sightings based on a query, grouped by year">
      <button class="btn btn-primary" type="button" disabled>
        <i class="fa-solid fa-chart-area"></i>
      </button>
    </span>
  </div>

  <div class="container">
    <form action="/sightings" class="mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-2">
          <input id="state" name="state" class="form-control me-2 typeahead tt-query" type="search" placeholder="State" autocomplete="off"
            spellcheck="false">
        </div>
        <div class="col-4">
          <input name="text" class="form-control me-2" type="search" placeholder="Try 'river bear'" autocomplete="off"
          spellcheck="false">
        </div>
        <div class="col-sm-1 text-center">
          <button class="btn btn-outline-primary" type="submit">Apply</button>
        </div>
      </div>

      <div class="row mt-2 mb-4 justify-content-center">
        <div class="col-sm-2">
          <input id="county" name="county" class="form-control me-2 typeahead tt-query" type="search" placeholder="County" autocomplete="off"
            spellcheck="false" >
        </div>
        <div class="col-4">
          <input type="range" class="form-range" min="1" max="5" value="0" id="slider-range">
        </div>
        <div class="col-sm-1 text-center">
          <b class="text-primary"><span id="slider-data">10</span></b>&nbsp;km
        </div>
      </div>
    </form>
  </div>

  <div class="container position-relative">
    <div class="row">
      <div class="col">
        <div id="bigfootMap" class="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="seasonMap" class="map"></div>
      </div>
      <div class="col">
        <div id="yearlyMap" class="map"></div>
      </div>
    </div>
  </div>

  <script src="/scripts/bootstrap.min.js"></script>
  <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
  <script src="/scripts/jquery.min.js"></script>

  <script src="/scripts/maps.js"></script>
  <script src="/scripts/slider.js"></script>
  <script src="/scripts/typeahead.bundle.js"></script>

  <script>
    function initializeTooltips() {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    }

    initializeTooltips();

    function autoSuggest(suggestEl, suggestData) {
      var dataHound = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: suggestData
      });

      $(`#${suggestEl}`).typeahead(
        {
          hint: true,
          highlight: true,
          minLength: 2
        },
        {
          source: dataHound
        });
    }

    var states = JSON.parse(`<%- JSON.stringify(statesData) %>`);
    var counties = JSON.parse(`<%- JSON.stringify(countiesData) %>`);

    autoSuggest('state', states);
    autoSuggest('county', counties);

    var longitudeData = JSON.parse(`<%-JSON.stringify(longitudeData)%> `);
    var latitudeData = JSON.parse(`<%- JSON.stringify(latitudeData)%> `);

    var hoverInfoData = JSON.parse(`<%- JSON.stringify(hoverInfoData) %>`);
    var urlToOpen = `<%= urlToOpen %>`;
    var idData = JSON.parse(`<%- JSON.stringify(idData) %>`);

    var yearsAndCounts = JSON.parse(`<%- JSON.stringify(yearsAndCounts)%> `);
    var seasonsAndCounts = JSON.parse(`<%- JSON.stringify(seasonsAndCounts) %>`);

    drawBigfootMap(urlToOpen, idData, longitudeData, latitudeData, hoverInfoData);
    drawSeasonMap(seasonsAndCounts.classifications, seasonsAndCounts.counts);
    drawYearlyMap(yearsAndCounts.years, yearsAndCounts.counts);
  </script>
</body>

</html>