<!DOCTYPE html>
<html>

<head>
  <title>Bigfoot Sightings</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container mt-4">
    <%- include('./partials/navigation.ejs') %>
  </div>

  <div class="container">
    <form action="/sightings" class="mt-5">
      <div class="row justify-content-center">
        <div class="col-4">
          <input name="text" class="form-control me-2" type="search" placeholder="Try 'river bear'" aria-label="Search">
        </div>
        <div class="col-sm-1 text-center">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
      </div>
      <div class="row mt-2 justify-content-center">
        <div class="col-4">
          <input type="range" class="form-range" min="1" max="5" value="0" id="slider-range">
        </div>
        <div class="col-sm-1 text-center">
          &nbsp;<b class="text-primary"><span id="slider-data">10</span></b>&nbsp;km
        </div>
      </div>
    </form>
  </div>  

  <div class="container">
    <div class="row">
      <div class="col">
        <div id="bigfootMap" class="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="seasonMap" class="map"></div>
      </div>
      <div class="col">
        <div id="yearlyMap" class="map"></div>
      </div>
    </div>
  </div>

  <script src="/scripts/bootstrap.min.js"></script>
  <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
  <script src="/scripts/jquery.min.js"></script>

  <script src="/scripts/maps.js"></script>
  <script src="/scripts/slider.js"></script>

  <script>
    var longitudeData = JSON.parse(`<%-JSON.stringify(longitudeData)%> `);
    var latitudeData = JSON.parse(`<%- JSON.stringify(latitudeData)%> `);

    var hoverInfoData = JSON.parse(`<%- JSON.stringify(hoverInfoData) %>`);
    var urlToOpen = `<%= urlToOpen %>`;
    var idData = JSON.parse(`<%- JSON.stringify(idData) %>`);

    var yearsAndCounts = JSON.parse(`<%- JSON.stringify(yearsAndCounts)%> `);
    var seasonsAndCounts = JSON.parse(`<%- JSON.stringify(seasonsAndCounts) %>`);

    drawBigfootMap(urlToOpen, idData, longitudeData, latitudeData, hoverInfoData);
    drawSeasonMap(seasonsAndCounts.classifications, seasonsAndCounts.counts);
    drawYearlyMap(yearsAndCounts.years, yearsAndCounts.counts);
  </script>
</body>

</html>