<!DOCTYPE html>
<html>

<head>
    <title>Bigfoot Sighting</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <div class="container mt-4">
        <%- include('./partials/navigation.ejs') %>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">
                            <%= data.title %>
                        </h1>
                        <div class="text-muted fst-italic my-2">
                            <i class="fa-solid fa-calendar-days"></i>
                            Reported on

                            <% let date=new Date(data.date); %>

                                <%= date.toLocaleString("en-US", { month: "long" }); %>
                                    <%= date.getFullYear() %>
                        </div>
                        <h5>
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                data-bs-placement="left" title="County">
                                <button class="btn btn-primary" type="button" disabled>
                                    <%= data.county %>
                                </button>
                            </span>
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                                data-bs-placement="right" title="State">
                                <button class="btn btn-primary" type="button" disabled>
                                    <%= data.state %>
                                </button>
                            </span>
                        </h5>
                    </header>
                    <figure class="mb-4">
                        <img class="img-fluid rounded" src="/images/bigfoot.jpg" width="600" alt="Bigfoot Image" />
                    </figure>
                    <section class="mb-5">
                        <p>
                            <%= data.observed %>
                        </p>
                        <% if (data.locationDetails && data.locationDetails.length> 0) { %>
                            <h2 class="fw-bolder mb-4 mt-5">Location details</h2>
                            <%= data.locationDetails %>
                                <% } else { %>
                                    <i class="fa-solid fa-xmark"></i>&nbsp;
                                    <i>No information about location details was provided.</i>
                                    <% } %>
                    </section>
                </article>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Season Details</div>
                    <div class="card-body">
                        <div class="col-sm-6">
                            <i class="fa-solid fa-square-question"></i>

                            <% let season=data.season.toLowerCase(); let icon='fa-circle-question' ; if
                                (season==='summer' ) { icon='fa-sun' ; } else if (season==='winter' ) {
                                icon='fa-snowflake' ; } else if (season==='fall' ) { icon='fa-leaf' ; } else if
                                (season==='spring' ) { icon='fa-fan' ; } %>
                                <i class="fa-solid <%= icon %>"></i>&nbsp;<%= data.season %>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Location Coordinates</div>
                    <div class="card-body">
                        <i class="fa-solid fa-location-dot"></i>&nbsp;
                        <%= data.location.split(',')[0] %>,&nbsp;
                            <%= data.location.split(',')[1] %>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Classification Details</div>
                    <div class="card-body">
                        <div class="row">
                            <ul class="list-unstyled mb-0">
                                <li><b>A</b> - misinterpretation chance is low</li>
                                <li><b>B</b> - misinterpretation chance is medium</li>
                                <li><b>C</b> - misinterpretation chance is high</li>
                            </ul>
                        </div>
                        <div class="row mt-2">
                            <h4 class="text-center">
                                <span class="badge rounded-pill bg-primary">
                                    <%= data.classification %>
                                </span>
                            </h4>
                        </div>
                        <div class="row mt-2">
                            <p>
                                <small>
                                    Read more about classification
                                    <a href="http://www.bfro.net/GDB/classify.asp" target="_blank">here</a>.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/bootstrap.min.js"></script>
    <script>
        function initializeTooltips() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }

        initializeTooltips();
    </script>
</body>

</html>